<section class="module bose" :class="{play: isPlay}">
  <div class="evolve-container">
    <img
      src="../../../public/images/bose/bose-evolve.png"
      alt="evolve"
      class="evolve"
    />
  </div>

  <img
    src="../../../public/images/bose/bose-making.png"
    alt="making"
    class="making"
  />

  <div class="line"></div>

  <div class="ready-container">
    <img
      src="../../../public/images/bose/bose-ready.png"
      alt="ready"
      class="ready"
    />
  </div>

  <div class="sounddesign-container">
    <img
      src="../../../public/images/bose/bose-sounddesign.png"
      alt="sounddesign"
      class="sounddesign"
    />
  </div>
</section>
