<section
  class="module ralphlauren display-flex flex-wrap"
  :class="{play: isPlay}"
>
  <div class="col-1">
    <img
      src="../../../public/images/ralphlauren/ralphlauren-photo01.jpg"
      alt="photo01"
    />
  </div>
  <div class="col-1">
    <img
      src="../../../public/images/ralphlauren/ralphlauren-photo02.jpg"
      alt="photo02"
    />
  </div>
  <div class="col-1">
    <img
      src="../../../public/images/ralphlauren/ralphlauren-photo03.jpg"
      alt="photo03"
    />
  </div>
  <div class="col-1 display-flex flex-nowrap">
    <div class="left-col display-flex flex-wrap">
      <div class="small-row content-container">
        <div class="mask"></div>

        <div class="display-flex text-container">
          <img
            src="../../../public/images/ralphlauren/ralphlauren-text.png"
            alt="text"
            class="text"
          />

          <img
            src="../../../public/images/ralphlauren/ralphlauren-text-hover.png"
            alt="text-hover"
            class="text-hover"
          />
        </div>
      </div>

      <div class="small-row">
        <img
          src="../../../public/images/ralphlauren/ralphlauren-photo04.jpg"
          alt="photo04"
        />
      </div>
    </div>

    <div class="right-col">
      <img
        src="../../../public/images/ralphlauren/ralphlauren-photo05.jpg"
        alt="photo05"
      />
    </div>
  </div>
</section>
