.nav {
  width: 100%;
  height: 30px;
  font-size: 0px;
  text-align: center;
  background-color: #000;
  position: absolute;
  left: 0px;
  bottom: 0px;
  overflow: hidden;

  .logo {
    width: 151px;
    height: 19px;
    position: absolute;
    left: 20%;
    top: 40%;
  }

  .navigator-container {
    height: 100%;
    display: inline-block;
    position: relative;

    .navigator {
      width: 30px;
      height: 100%;
      border-left: 1px solid #262626;
      border-top: 1px solid transparent;
      display: inline-block;
      position: relative;
      cursor: pointer;

      &::before {
        width: 1px;
        height: 1px;
        content: "";
        display: block;
        background-color: #fff;
        position: absolute;
        left: -1px;
        top: -1px;
      }

      &:nth-last-child(2) {
        border-right: 1px solid #262626;

        &::after {
          width: 1px;
          height: 1px;
          content: "";
          display: block;
          background-color: #fff;
          position: absolute;
          right: -1px;
          top: -1px;
        }
      }

      &.active {
        border-top-color: #fff;
      }
    }

    .navigator-drag {
      width: 30px;
      height: 58px;
      background-color: #fff;
      transition: transform 0.4s ease-out;
      position: absolute;
      left: 1px;
      top: 2px;
      cursor: pointer;
    }
  }

  .social {
    font-size: 0px;
    text-align: center;
    position: absolute;
    left: 68%;
    top: 44%;

    li {
      display: inline-block;
      border-right: 2px solid #4d4d4d;

      &:last-child {
        border-right-width: 0px;
      }
    }

    img {
      padding: 0px 12px;
    }
  }

  .credit {
    position: absolute;
    right: 2%;
    top: 30%;

    .title {
      font-size: 0.6rem;
      line-height: 1.5rem;
      color: #424545;
      text-transform: uppercase;
      position: relative;
    }

    .content {
      padding: 45px 20px 40px 30px;
      font-size: 0.6rem;
      line-height: 1.5rem;
      text-align: right;
      text-transform: uppercase;
      color: #fff;
      background-color: #0f0f0f;
      position: absolute;
      right: -12px;
      bottom: -6px;
      display: none;

      span {
        color: #939393;
      }

      a {
        color: #fff;
      }
    }

    &:hover {
      .content {
        display: block;
      }
    }
  }

  .mask {
    width: 100%;
    height: 100%;
    background-color: #000;
    position: absolute;
    left: 0px;
    top: 1px;
    cursor: pointer;

    .gray {
      width: 100%;
      height: 100%;
      background-color: #2f3336;
      transform: translateY(100%);
      transition: transform 0.4s ease-out;
    }

    &:hover {
      .gray {
        transform: translateY(0%);
      }
    }

    .menu {
      width: 32px;
      height: 6px;
      transform: translate(-50%, -50%);
      position: absolute;
      left: 50%;
      top: 50%;
    }
  }

  &.menu {
    height: 60px;

    .mask {
      top: 100%;
    }
  }
}
